<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-out - Frotas de Caminhão</title>
    <link rel="stylesheet" href="/css/checkin.css">
</head>
<body>
    <div>
        <h1>Check-Out
            <video src="img/2802bd6b27884e1a83773809055d20e0.webm" alt="caminhao" class="logo" width="50px"></video>
        </h1>
    </div>
    <main>
        <form action="/checkout" method="POST">
            <label for="vehicle">Placa do Veículo:</label>
            <input type="text" id="vehicle" name="vehicle" required>

            <label for="placa_eng">Placa do Engate:</label>
            <input type="text" id="placa_eng" name="placa_eng">
 
            <label for="km">KM:</label>
            <input type="number" id="km" name="km" required>

            <label for="date">Data/Hora:</label>
            <input type="datetime-local" id="date" name="date" required>

            <label for="pneu_est">Estado dos Pneus:</label>
            <select class="select" id="ds_categoria" name="ds_categoria">
                <option value=" "> </option>
                <option value="Otimo">Ótimo</option>
                <option value="Bom Estado">Bom Estado</option>
                <option value="Ruim">Ruim</option>
            </select>

            <label for="oleo_est">Estado dos Oleo:</label>
            <select class="select" id="oleo_est" name="oleo_est">
                <option value=" "> </option>
                <option value="No_Nivel">No Nivel</option>
                <option value="Abaixo_Nivel">Abaixo do Nivel</option>
                <option value="Ruim">Ruim</option>
            </select>

            <label for="lataria_est">Estado dos Lataria:</label>
            <select class="select" id="lataria_est" name="lataria_est">
                <option value=" "> </option>
                <option value="Otimo">Ótimo</option>
                <option value="Bom Estado">Bom Estado</option>
                <option value="Ruim">Ruim</option>
            </select>

            <label for="extintor_est">Estado dos Extintor:</label>
            <select class="select" id="extintor_est" name="extintor_est">
                <option value=" "> </option>
                <option value="Otimo">Ótimo</option>
                <option value="Bom Estado">Bom Estado</option>
                <option value="Ruim">Ruim</option>
            </select>

            <label for="luz_est">Estado dos Luz:</label>
            <select class="select" id="luz_est" name="luz_est">
                <option value=" "> </option>
                <option value="Otimo">Ótimo</option>
                <option value="Bom Estado">Bom Estado</option>
                <option value="Ruim">Ruim</option>
            </select>

            <label for="destino">Destino:</label>
            <input type="text" id="destino" name="destino" required>

            <label for="observacao">Observação:</label>
            <input type="text" id="observacao" name="observacao">

            <button type="submit">Registrar Check-Out</button>
            <button type="button" onclick="window.location.href='/home'">Voltar</button>
        </form>
    </main>
    <div class="footer">
        <p>2024 © Todos os direitos reservados <br>
        <strong>Autoamerica Ltda</strong>
        <a href="https://chamados.autoamerica.com.br:8082/EquipeTI/index.html" target="_blank">
            <img src="img/logoticerta.png" alt="Logo Autoamerica" class="logo" width="20px">
        </a>
        </p>
    </div> 
</body>
</html>
