/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #404040;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1, h2 {
    margin: 0;
    color: #f0f0f0;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

form {
    background-color: #383838;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #f0f0f0;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form select {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #606060;
    border-radius: 6px;
    background-color: #505050;
    color: #ffffff;
    font-size: 16px;
    transition: border 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="datetime-local"]:focus,
form select:focus {
    border-color: #f04f4f;
    outline: none;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 0 .708 0l5-5a.5.5 0 1 0-.708-.708L8 10.293 3.354 5.646a.5.5 0 1 0-.708.708l5 5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    padding-right: 36px;
}

form button[type="submit"],
form button {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    background-color: #f04f4f;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover,
form button:hover {
    background-color: #d43f3f;
}

form button:last-child {
    background-color: #6c757d;
    margin-top: 8px;
}

form button:last-child:hover {
    background-color: #5a6268;
}

form select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #606060;
    border-radius: 6px;
    background-color: #505050;
    color: #ffffff;
    font-size: 16px;
    transition: border 0.3s ease;
}